/* Colours */
span.new {color: red;}
nav a {color: black;}
.site_name {color: #005588;}

/* Text styling */
.new, .updated {font-variant: small-caps; }
nav a {text-decoration: none;}

/* Sizes */
.site_name {font-size: 3em;}

/* Spacing */
nav a {margin-right: 1em;}