/* Colours */
span.new {color: red;}
nav a {color: black;}
.site_name {color: #005588;}
.news section h1 a {color: #000077;}

/* Text styling */
.new, .updated {font-variant: small-caps; }
nav a {text-decoration: none;}
.news section h1 {font-weight: normal;}
.news section h1 a {text-decoration: none;}

/* Sizes */
.site_name {font-size: 3em;}
.news section h1 {font-size: 1em;}
.news section header h2 {font-size: 1.2em;}

/* Spacing */
nav a {margin-right: 1em;}

/* Layout */
.news section {margin-bottom: 1em;}
.news section header h2 {display: inline;} 
article header * {margin-bottom: 0; margin-top: 0;}